@import url("http://fonts.googleapis.com/css?family=Roboto\+Slab:300,100,400,700");
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,600,700,900,400italic");
* {
  box-sizing: border-box;
}
body {
  background-color: #ccc;
  color: #333;
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
  line-height: 1.5;
  position: relative;
}
a {
  color: #fff;
  display: inline-block;
  padding: 1rem;
  text-decoration: none;
}
a:hover {
  background-color: #fff;
  color: #609;
}
.nav {
  background-color: #000;
  box-shadow: 0 0 30px #000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 20;
}
a.button {
  color: #000;
  display: inline-block;
  padding: 1rem;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
a.button:hover {
  background-color: #dda0dd;
  color: #fff;
}
a.logo {
  background-color: #000;
  font-family: titillium web;
  font-weight: 900;
  position: relative;
  text-decoration: none;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
a.logo:hover .greatest,
a.logo:hover .of,
a.logo:hover .all,
a.logo:hover .time,
a.logo:hover .rip {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.greatest,
.of,
.all,
.time,
.rip {
  background-color: #000;
  color: #fff;
  display: inline-block;
  -webkit-transition: all 0.33s cubic-bezier(0.91, -0.44, 0.12, 1.51);
  transition: all 0.33s cubic-bezier(0.91, -0.44, 0.12, 1.51);
}
.of {
  -webkit-transform: translateX(-309%);
          transform: translateX(-309%);
}
.all {
  -webkit-transform: translateX(-300%);
          transform: translateX(-300%);
}
.time {
  -webkit-transform: translateX(-190%);
          transform: translateX(-190%);
}
.rip {
  background-color: #000;
  color: #fff;
  font-weight: 200;
  padding-left: 32px;
  -webkit-transform: translateX(-72%);
          transform: translateX(-72%);
}
.content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 4.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
}
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 1rem;
}
@media (max-width: 800px) {
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.box {
  background-color: #fff;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
@media (max-width: 2400px) {
  img {
    height: 300px;
  }
}
@media (max-width: 800px) {
  img {
    height: 400px;
  }
}
h2 {
  color: #000;
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1;
  padding: 1rem;
  text-align: center;
}
p {
  font-family: roboto slab;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.2;
}
